/**
 *
 * @author      ThatMuch
 * @version     0.1.0
 * @since       gur_1.0.0.0
 *
 */

/*=============================================
=            Cards RS                   =
=============================================*/
.fts-jal-single-fb-post, .fts-tweeter-wrap {
    padding: 20px !important;
    box-shadow: $shadow;
    background-color: $color-light;
    margin-bottom: 30px;
    border-radius: $border-radius;

    .fts-jal-fb-user-name a, .fts-twitter-full-name {
        color: $color-black;
    }

    .tweeter-info {
        padding: 0;
        border-bottom: 0;
    }

    a {
        color: $color-primary;
    }
}

.fts-instagram-scrollable {
    overflow: hidden !important;
    margin-bottom: 50px;
}

// Cacher le titre Facebook dans la colonne
.fts-jal-fb-header {
    display: none;
}

/*=====  End of Cards Facebook         ======*/
