/**
 * TYPOGRAPHY
 * Contains all fonts that need to be hosted locally.
 * » http://google-webfonts-helper.herokuapp.com/fonts (=> make sure paths start with 'fonts/' instead of '../fonts')
 *
 * @author      ThatMuch
 * @version     0.1.0
 * @since       gur_1.0.0.0
 *
 */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;700&display=swap");

@font-face {
    font-family: 'Arial Narrow';
    font-style: normal;
    font-weight: 400;
    src: local("Arial-Narrow"), local("Arial-Narrow"), url("assets/fonts/Arial-Narrow.ttf") format("ttf"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Arial Narrow';
    font-style: italic;
    font-weight: 400;
    src: local("Arial-Narrow-Italic"), local("Arial-Narrow-Italic"), url("assets/fonts/Arial-Narrow-Italic.ttf") format("ttf"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Arial Narrow';
    font-style: normal;
    font-weight: 700;
    src: local("Arial-Narrow-Bold"), local("Arial-Narrow-Bold"), url("assets/fonts/Arial-Narrow-Bold.ttf") format("ttf");
}
