/**
 *
 * @author      ThatMuch
 * @version     0.1.0
 * @since       gur_1.0.0.0
 *
 */
img {
    border-radius: 3px!important;
    &.shadow {
        box-shadow: $shadow;
    }
}

.block__image--bordered {
    position: relative!important;
    .bordered {
        border: 1px solid $color-grey2;
        border-radius: 3px;
        position: absolute;
        z-index: -1;
        &.left-bottom {
            top: 17px;
            left: calc(50% - 17px);
            transform: translate(-50%);
        }
        &.right-bottom {
            top: 17px;
            left: calc(50% + 17px);
            transform: translate(-50%);
        }
    }
}
