.section-services {
    text-align: center;

    &__item {
        margin-bottom: 2rem;

        &__image {
            max-width: 100%;
        }
    }

    &.bg-primary {
        .section-services__item__icon {
            color: $color-primary-darker;
        }
    }
}
